<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MALCO.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7A9FDA5E25CBF8CD002C2233</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7A9FDA7725CBF8CE002C2233</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7A9FDA8225CBF8CE002C2233</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
